<link rel="stylesheet" href="/assets/css/user_styles.css">
<h1> Social media user profile</h1>



<% if(user.id == profile_user.id){ %>
        <!--if user matches show the form else show only the profile info  -->
        <form action = "/users/update/<%= profile_user.id %>" method ='post'>
            <input type ="text" name = "name" placholder="Your name" value = "<%= profile_user.name %>" required> 
            <input type ="email" name = "email" placholder="Your email" value = "<%= profile_user.email %>" required> 
            <input type="submit" value="Update"> 

        </form>
<%}else{ %>
    <!-- else show only the profile info -->
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>
<%} %>